@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");

.app {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  background: linear-gradient(#e66465 40%, #757edf);
}
